@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body{
    width:100%;
    overflow-x:hidden;
    }

.container{ /*1번*/
    width: 1600px;
    margin: 0 auto;
}

header{ /*2번*/
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;
}

header .active{
    background-color: rgba(0,0,0);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.275);
}

header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    padding: 10px;
}

header button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

header h1 button{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
}

header h1{
    list-style: none;
}

header h1 li button{
    font-size: 1.6rem;
    color: white;
}

header.container > div.menu_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/1.jpg) center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h4{
    font-size: 2rem;
}

main h2{
    font-size: 3rem;
    margin: 2rem 0;
    letter-spacing: 3px;
    font-family: "Varela Round", sans-serif;
}

main p{
    max-width: 500px;
    margin: 0 auto;
    font-size:1.25rem;
}

main .p1{
color:white;
position: relative;
top: 320px;
font-weight: bold;
}

main .scroll{
    color:white;
    position: relative;
    top: 365px;
    left: -10px;
}

main .scroll i{
    animation: updown 1s ease-in-out infinite;
    cursor: pointer;
    position: absolute;
}

@keyframes updown{
    0%{
        bottom:1rem;
    } 
    50%{
        bottom:1.5rem;
    }
    100%{
        bottom:1rem;
    }
    }

main h2 span::after{
    content:"";
    height: 40px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.section{
    font-family: "oppins", sans-serif;
    padding: 5rem 0;
}

.section:nth-child(2n){
    background-color: #f8f8f8;
}

.section .title{
    margin-bottom: 3rem;
}

.section .title h4{
    font-size: 1.35rem;
    color:#ed4848;
    position: relative;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.592);
}

.section .title h2{
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px gray;
}

.section .title p{
    font-size: 1.15rem;
}


.section .about-t{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}



/* 본문 반 왼쪽 배치 */

.section .about-t .left{
    width: 50%;
    margin-left: 150px;
}

/* 이미지크기가 부모영역을 넘지 않도록 설정 */

.section .about-t .left img{
    max-width: 100%;
}

/*본문 너비 설정 and 오른쪽배치 */

.section .about-t .right{
    width: 50%;
    padding: 0 1rem;
    margin-right: 150px;
}

/*본문 오른쪽 글자크기랑 여백임*/

.section .right h3{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.section .right h3 strong{
    color: #1b24c8;
}

.section .right p{
    font-size: 1.12rem;
    margin: 0.5rem 0;
}

.section{
    position: relative;
    left: 60px;
}

/*두번째 section 플렉스설정*/
.container_02 .area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 30px;
    margin-bottom: 100px;
}

/*사각형 크기 조절 및 비율 분배*/
.container_02 .do-teasan .do-inner{
    background-color: #fff;
    cursor: pointer;
    width: 580px;
    padding: 1rem;
    margin-left: 10px;
}

.container_02 .do-teasan .content .do-inner:last-child{
    margin-right: 0;
    margin-left: 0px;
}

.container_02 .title h4{
    font-size: 1.35rem;
    color:#ed4848;
    position: relative;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.592);
}
.container_02 .title h2{
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px gray;
}

.container_02 .do-teasan .do-inner .icon img{
    max-width: 100%;
}

.container_02 .do-teasan .do-inner .content h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.container_02 .do-teasan .do-inner .content p{
    font-size: 1rem;
    font-weight: 500;
}

.container_02 .do-teasan .do-inner:hover{
    background-color: #64646776;
    color: white;
}

.container_02 .do-teasan .do-inner:hover i{
    color: white;
}

.container_02:nth-child(2n) {
    background-color: #f8f8f8;
}

.container_02{
    position: relative;
    left: 60px;
}
/*배경구역*/
.bg{
    background: url('../img/background.jpg') center center;
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}

/*esg경영부분*/
.esg .container_03 .title h4{
    font-size: 1.35rem;
    color:#ed4848;
    position: relative;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.592);
}

.esg .container_03 .title h2{
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px gray;
}

.esg .container_03 .title{
    margin-bottom: 30px;
    margin-top: 60px;
}

.esg .container_03 .esg_main h2{
    font-size: 2rem;
    color: #1b1d60;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.592);
}

.esg .container_03 .esg_main{
    width: 1140px;
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
    left: 350px;
    font-weight: 500;
}

.esg .container_03 .esg_main p{
    font-size: 1.2rem;
}

.container_03{
    margin-top: 30px;
    position: relative;
    left: 60px;
}

/*esg영역 flex설정*/
.esg .inner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 270px;
}

.esg .inner .esg_inner{
    margin-left: 20px;
    margin-top: 20px;
}


/*작은 네모칸 전환효과*/
.esg .inner .esg_01:hover img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}
.esg .inner .esg_01:hover img{
    margin-left: 0;
}

.esg .inner .esg_02:hover img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.esg .inner .esg_02:hover img{
    margin-left: 0;
}

.esg .inner .esg_03:hover img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.esg .inner .esg_03:hover img{
    margin-left: 0;
}

.esg .inner .esg_04:hover img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.esg .inner .esg_04:hover img{
    margin-left: 0;
}

.esg .inner .esg_05:hover img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.esg .inner .esg_05:hover img{
    margin-left: 0;
}

.esg .inner .esg_06:hover img{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.esg .inner .esg_06:hover img{
    margin-left: 0;
}

.esg .esg_inner img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
}

/*news section*/
.news .container_04 .title h2{
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px gray;
    margin-bottom: 60px;
}

.news .container_04 .title h4{
    margin-top: 100px;
    font-size: 1.35rem;
    color:#ed4848;
    position: relative;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.592);
}

/*news영역 flex 설정*/
.news .container_04 .news_inner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
}

/*뉴스네모칸*/

.container_04{
    position: relative;
    left: 60px;
}
.news .container_04 .news_inner{
    cursor: pointer;
    margin-left: 140px;
}

.news .container_04 .news_inner:last-child{
    margin-right: 0;
}

.news .container_04 .news_inner .news_01 img{
    width: 600px;
    height: 400px;
    margin-right: 10px;
    margin-left: 0;
    flex-grow: 2;
    border-radius: 5px;
}

.news .container_04 .news_inner .news_02 img{
    width: 450px;
    height: 400px;
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 5px;
}


.news .container_04 .news_inner .news_03 img{
    width: 450px;
    height: 400px;
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 5px;
}

.news .container_04 .news_inner .news_04 img{
    width: 450px;
    height: 400px;
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 5px;
}

.news .container_04 .news_inner .news_05 img{
    width: 600px;
    height: 400px;
    margin-right: 10px;    
    flex-grow: 2;
    border-radius: 5px;
}

.news .container_04 .news_inner .news_06 img{
    width: 450px;
    height: 400px;
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 5px;
}


.news_01, .news_02, .news_03, .news_04, .news_05, .news_06 {
    position: relative;
}

.news_01 .text_wrapper{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.news_02 .text_wrapper{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.news_03 .text_wrapper{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.news_04 .text_wrapper{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.news_05 .text_wrapper{
    position: absolute;
    bottom: 0px;
    margin-bottom: 15px;
}

.news_06 .text_wrapper{
    position: absolute;
    bottom: 0px;
    margin-bottom: 15px;
}

.news .container_04 .news_inner h3{
    color: #ffff;
    text-indent: 15px;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px gray;
}

.news .container_04 .news_inner p{
    color: #ffff;
    text-indent: 15px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px gray;
}

.news .news_inner .news_01:hover{
    background: linear-gradient(rgba(207, 201, 201, 0.276), rgba(187, 185, 185, 0.652));
}

.news .news_inner .news_02:hover{
    background: linear-gradient(rgba(207, 201, 201, 0.276), rgba(187, 185, 185, 0.652));
}

.news .news_inner .news_03:hover{
    background: linear-gradient(rgba(207, 201, 201, 0.276), rgba(187, 185, 185, 0.652));
}

.news .news_inner .news_04:hover{
    background: linear-gradient(rgba(207, 201, 201, 0.276), rgba(187, 185, 185, 0.652));
}

.news .news_inner .news_05:hover{
    background: linear-gradient(rgba(207, 201, 201, 0.276), rgba(187, 185, 185, 0.652));
}

.news .news_inner .news_06:hover{
    background: linear-gradient(rgba(207, 201, 201, 0.276), rgba(187, 185, 185, 0.652));
}

/*ir section*/
#IR{
    margin:100px 0 0 60px;
}
.ir .continer_05 .title h2{
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px gray;
    margin-bottom: 30px;
}
.ir .continer_05 .ir_inner{
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    margin-bottom: 60px;
    position: relative;
    left: 25px;
}
.ir .continer_05 .ir_inner .ir_01{
    width: 500px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid rgb(198, 196, 196);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
    margin-left: 60px;
}

.ir .continer_05 .ir_inner .ir_01:last-child{
    margin-right: 0;
}

.ir .continer_05 .ir_inner .ir_01 p{
    color: #454546;
    font-size: 1.3rem;
    font-weight: bold;
}

.ir .continer_05 .ir_inner .ir_01 i{
    color: #10108b;
    font-size: 2rem;
}

/*footer영역*/
.footer{
    background-color: black;
    color: white;
    height: 150px;
}

.footer ._menu{
    position: relative;
    top: 50px;
    left: 30px;
}

.footer .footer_menu ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    flex-direction: row
}

.footer .copy{
    margin-top: 10px;
    font-size:0.8rem;
    color: #a4a4a4;
}

.footer .footer_menu ul{
    font-weight: bold;
    font-size: 0.9rem;
}

.footer .footer_menu ul .menu_01{
    color: #1b68c1;
}

.footer .footer_menu ul li{
    margin-right: 15px;
}

footer .taesan_logo img{
    width: 200px;
    height: 100px;
    position: relative;
    left: 1600px;
    bottom: 15px;
}